<section class="card">
  <div class="card-body">
    <h1>Acerca de nosotros</h1>
    <p align="justify">
      Este proyecto es realizado para la materia de graficacion y animacion.
    </p>
  </div>
</section>
