<div class="jumbotron mt-4">
  <img src="https://aulavirtual.pucese.edu.ec/pluginfile.php/1/theme_moove/logo/1579817546/logotipo-PUCE-RGB-72dpi%281%29.png" 
  alt="Logo PUCESE"
  style="width:380px;
  height:128px;
  display: block;
  margin-left: auto;
  margin-right: auto;"
  class="center"
  >
  <h1 align="center" class="display-4">Reservación de salas</h1>
  <p align="center" class="lead">Este proyecto ha sido realizado por Jair Bedoya, Aaron Jaramillo, Jhonny Guevara y Kristy Mina</p>
</div>
